tqdm
yacs
h5py
numpy
chumpy
scipy
numba
smplx
gdown
PyYAML
joblib
pillow
trimesh
pyrender
progress
filterpy
matplotlib
tensorflow
tensorboard
torchvision
scikit-image
scikit-video
opencv-python
llvmlite
git+https://github.com/giacaglia/pytube.git 
git+https://github.com/mattloper/chumpy.git
